.titleMenu-logo{
    background-image: url('https://hexschool.github.io/boootstrap5WebLayout/assets/logo.jpg');
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

.projectIntro{
    p{
        line-height: 2;
    }
}