//Colors

//primary
.primary {
    color:#FFDF65 !important; 
}
.bg-primary {
    background-color: #FFDF65 !important;
}
.border-primary {
    border-color: #FFDF65 !important;
}

//gray
.light-gray{
    color:#858377;
}
.bg-light-gray {
    background-color: #858377 !important;
}

.gray {
    color:#636057 ;
}

.dark-gray {
    color: #494846;
}

.top-gray {
    color:#373A3C;
}


//danger
.light-danger{
    color:#FF785E;
}

//pink
.bg-light-pink{
    background-color: #E8E8DB !important;
}